html{

}

#profile {
  position: absolute;
  float: right;
  right: 0px;
  display: inline;
  padding-right: 100px;
  padding-top: 50px;
  /*border: 1px solid black;*/
}

html{
  background-color: #F5FFFA;

}
body {

    margin: 0;
    padding: 0;
}
h1{
  font-family: 'Pacifico', "Lucida Sans Unicode", "Lucida Grande", 'Pacifico', sans-serif;

}
h2{
  font-family: 'Coming Soon', "Trebuchet MS", Helvetica, 'Yanone Kaffeesatz', sans-serif;
}

#currentPage{
    background-color: #FFE4E1;

}


#mainmenucontainer{
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 2px solid #B0C4DE;
  margin: auto;
}
#header #mainmenucontainer li a{
  color: #FF69B4;
}

#header #mainmenucontainer ul li{
  display: inline-block;
}
#header #mainmenucontainer ul li a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
}
#header #mainmenucontainer ul a:hover{
  color: #4682B4;
}

a{
  text-decoration: none;
}

#header{
  background-color: white;
  margin: 10px;
  background-image: url("../img/myphoto2.jpg");
  background-repeat: no-repeat;
  background-position: right top;
}




#main{
  position: relative;
  float: left;
  margin-top: 20px;
  width: 100%;
}

.posting {
  position: relative;
  width: 50%;
  min-width: 200px;
  padding: 20px;
  margin-left: 5%%;
  float: left;
  font-family: 'Coming Soon',"Comic Sans MS", sans-serif;
}
.posting h3{
    font-family: 'Coming Soon',"Comic Sans MS", sans-serif;
}

p img{
  margin: 15px;
}

span{
   font-weight: bolder;
}

#right-col {
  position: relative;
  float: right;
  margin-top: 100px;
  padding: 20px;
  width: 300px;
}
#search{
    display: block;
  border: 1px solid #B0C4DE;
  border-left: 4px solid #ADD8E6;
  padding-left: 15px;
    margin: 10px;
}

.postlist{
  display: block;

  border: 1px solid #B0C4DE;
  border-left: 4px solid #ADD8E6;
  padding-left: 10px;
    margin: 10px;

}

#right-col .postlist ul li, #right-col .postlist ol li{
  text-align: left;
list-style: none;

}

#right-col .postlist ul li a, #right-col .postlist ol li a{
  color: #4682B4;
  font-family: 'Maven Pro', 'Coming Soon',"Comic Sans MS", sans-serif;
}
#right-col .postlist ul li a:hover, #right-col .postlist ol li a:hover{
  color: #FF69B4;
}

#right-col .postlist h3{
  font-family: 'Coming Soon',"Comic Sans MS", sans-serif;
  color:#4682B4;
}

#right-col .postlist ol{
  counter-reset: li;
}
#right-col .postlist ol > li:before {
  position: relative;
  right: 10px;
  content: counter(li);
  counter-increment: li;
  font-family: 'Maven Pro', 'Coming Soon',"Comic Sans MS", sans-serif;
  color:#FF69B4;
  font-size: 20px;
}


#resources{
  text-decoration: none;
}



pre, code{
  font-size: 15.5px;
  color:#4169E1;
  margin: 0px;
}

li {
  margin-bottom: 5px;
}